\section{Schéma d'architecture}

Répartition des machines virtuelles entre la zone publique (DMZ) et la
zone privée (LAN).

\begin{center}
\begin{adjustbox}{max width=\textwidth, max totalheight=0.75\textheight, center}
\VAR{ diagram_tikz_raw }
\end{adjustbox}
\end{center}
