\chapter{Bilan des besoins}

Le tableau ci-dessous synthétise l'ensemble des ressources nécessaires,
tous environnements confondus.

{\small
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{|p{2.7cm}|p{1.1cm}|p{1.4cm}|p{1.4cm}|p{1.4cm}|p{1.4cm}|p{1.9cm}|p{1.5cm}|}
\hline
\rowcolor{primary}
\tblhead{Environnement} & \tblhead{vCPU} & \tblhead{RAM} & \tblhead{Disque OS} & \tblhead{Disque Appli} & \tblhead{Disque Store} & \tblhead{Secondaire (S3)} & \tblhead{Backup} \\
\hline
\endhead
Production & \VAR{ totals.vcpu } & \VAR{ totals.ram_gb } Go & \VAR{ totals.disk_os_gb } Go & \VAR{ totals.disk_appli_gb } Go & \VAR{ totals.disk_store_gb } Go & \BLOCK{ if totals.disk_secondaire_gb }\VAR{ totals.disk_secondaire_gb } Go\BLOCK{ else }---\BLOCK{ endif } & \BLOCK{ if totals.disk_backup_gb }\VAR{ totals.disk_backup_gb } Go\BLOCK{ else }---\BLOCK{ endif } \\
\hline
\BLOCK{ if qualification.active }
Qualification & \VAR{ qualif_totals.vcpu } & \VAR{ qualif_totals.ram_gb } Go & \VAR{ qualif_totals.disk_os_gb } Go & \VAR{ qualif_totals.disk_appli_gb } Go & \VAR{ qualif_totals.disk_store_gb } Go & --- & --- \\
\hline
\BLOCK{ endif }
\rowcolor{lightbg}
\textbf{Total général} & \textbf{\VAR{ bilan_totals.vcpu }} & \textbf{\VAR{ bilan_totals.ram_gb } Go} & \textbf{\VAR{ bilan_totals.disk_os_gb } Go} & \textbf{\VAR{ bilan_totals.disk_appli_gb } Go} & \textbf{\VAR{ bilan_totals.disk_store_gb } Go} & \textbf{\BLOCK{ if bilan_totals.disk_secondaire_gb }\VAR{ bilan_totals.disk_secondaire_gb } Go\BLOCK{ else }---\BLOCK{ endif }} & \textbf{\BLOCK{ if bilan_totals.disk_backup_gb }\VAR{ bilan_totals.disk_backup_gb } Go\BLOCK{ else }---\BLOCK{ endif }} \\
\hline
\end{longtable}
}
