\chapter{Parties prenantes}

\section{Client --- \VAR{ client.name }}
\VAR{ client.description }

\begin{itemize}[nosep]
  \item Site web~: \VAR{ client.site_web }
  \item Adresse~: \VAR{ client.adresse }
\end{itemize}

\BLOCK{ if client.contacts }
{\small
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{|p{2.6cm}|p{2.8cm}|p{5cm}|p{2.5cm}|}
\hline
\rowcolor{primary}\tblhead{Nom} & \tblhead{Rôle} & \tblhead{E-mail} & \tblhead{Téléphone} \\
\hline
\endhead
\BLOCK{ for contact in client.contacts }
\VAR{ contact.nom } & \VAR{ contact.role } & \VAR{ contact.email } & \VAR{ contact.telephone } \\
\hline
\BLOCK{ endfor }
\end{longtable}
}
\BLOCK{ else }
\placeholder{Contacts client à compléter}
\BLOCK{ endif }
