\chapter{Prérequis techniques}

\section{Récapitulatif des besoins exprimés}
Ce dimensionnement a été établi à partir des éléments suivants,
communiqués par le client~:
\begin{itemize}[nosep]
  \item Nombre de domaines de messagerie~: \VAR{ besoins.domaines }
  \item Nombre de comptes~: \VAR{ besoins.comptes }
  \item Volumétrie totale de données~: \VAR{ besoins.volumetrie_to } To
  \item Stockage Objet~: \VAR{ besoins.stockage_objet }
\BLOCK{ if besoins.hsm_active }
  \item Module HSM (stockage secondaire S3)~: activé, rétention primaire de \VAR{ besoins.retention_days } jour(s)
\BLOCK{ endif }
  \item Backups~: \VAR{ "Oui" if besoins.backups else "Non" }\BLOCK{ if besoins.backups and besoins.backup_sur_s3 } (sur S3)\BLOCK{ endif }

  \item Services demandés~: \VAR{ besoins.services_display }
\end{itemize}

\section{Dimensionnement de l'infrastructure}
Le tableau ci-dessous détaille les machines virtuelles nécessaires au
déploiement, réparties entre la zone publique (DMZ) et la zone privée
(LAN).

{\small
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{|p{2.4cm}|p{0.9cm}|p{2.9cm}|p{0.7cm}|p{1cm}|p{1.1cm}|p{1.1cm}|p{1.1cm}|p{1.6cm}|p{1.3cm}|}
\hline
\rowcolor{primary}
\tblhead{Nœud} & \tblhead{Zone} & \tblhead{Composants} & \tblhead{vCPU} & \tblhead{RAM} & \tblhead{OS} & \tblhead{Appli} & \tblhead{Store} & \tblhead{Secondaire (S3)} & \tblhead{Backup} \\
\hline
\endhead
\BLOCK{ for n in nodes }
\VAR{ n.id } & \VAR{ n.zone } & \VAR{ n.components_display } & \VAR{ n.sizing.vcpu } & \VAR{ n.sizing.ram_gb } Go & \VAR{ n.sizing.disk_os_gb } Go & \VAR{ n.sizing.disk_appli_gb } Go & \BLOCK{ if n.sizing.disk_store_gb }\VAR{ n.sizing.disk_store_gb } Go\BLOCK{ else }---\BLOCK{ endif } & \BLOCK{ if n.sizing.disk_secondaire_gb }\VAR{ n.sizing.disk_secondaire_gb } Go\BLOCK{ else }---\BLOCK{ endif } & \BLOCK{ if n.sizing.disk_backup_gb }\VAR{ n.sizing.disk_backup_gb } Go\BLOCK{ else }---\BLOCK{ endif } \\
\hline
\BLOCK{ endfor }
\rowcolor{lightbg}
\textbf{Total (\VAR{ nodes|length } nœuds)} & & & \textbf{\VAR{ totals.vcpu }} & \textbf{\VAR{ totals.ram_gb } Go} & \textbf{\VAR{ totals.disk_os_gb } Go} & \textbf{\VAR{ totals.disk_appli_gb } Go} & \textbf{\VAR{ totals.disk_store_gb } Go} & \textbf{\BLOCK{ if totals.disk_secondaire_gb }\VAR{ totals.disk_secondaire_gb } Go\BLOCK{ else }---\BLOCK{ endif }} & \textbf{\BLOCK{ if totals.disk_backup_gb }\VAR{ totals.disk_backup_gb } Go\BLOCK{ else }---\BLOCK{ endif }} \\
\hline
\end{longtable}
}
