\chapter{Prérequis}

\section{Prestations commandées}
Le présent projet couvre les prestations suivantes~:
\begin{itemize}[nosep]
  \item Migration incluse dans la prestation~: \VAR{ "Oui" if prestation.migration_included else "Non" }
\BLOCK{ if prestation.migration_included }
  \item Plateforme de destination~: \VAR{ prestation.destination_platform_display }
  \item Contrat de MCO à la suite de la migration~: \VAR{ "Oui" if prestation.mco_contract else "Non" }
\BLOCK{ endif }
\end{itemize}

\section{Récapitulatif des besoins exprimés}
Ce dimensionnement a été établi à partir des éléments suivants,
communiqués par le client~:
\begin{itemize}[nosep]
  \item Nombre de domaines de messagerie~: \VAR{ besoins.domaines }
  \item Nombre de comptes~: \VAR{ besoins.comptes }
  \item Volumétrie totale de données~: \VAR{ besoins.volumetrie_to } To
  \item Stockage Objet~: \VAR{ besoins.stockage_objet }
\BLOCK{ if besoins.hsm_active }
  \item Module HSM (délestage vers un stockage secondaire \VAR{ besoins.secondaire_label })~: activé, rétention primaire de \VAR{ besoins.retention_days } jour(s)
\BLOCK{ endif }
  \item Backups~: \VAR{ "Oui" if besoins.backups else "Non" }\BLOCK{ if besoins.backups and besoins.backup_sur_s3 } (sur S3)\BLOCK{ endif }

  \item Services demandés~: \VAR{ besoins.services_display }
\end{itemize}

\section{Besoins fonctionnels}
Sont couverts par le présent document, sur la base des services
retenus pour ce client~:
\begin{itemize}[nosep]
\BLOCK{ for item in perimetre_items }
  \item \VAR{ item }
\BLOCK{ endfor }
\end{itemize}

\clearpage
\begin{landscape}
\section{Dimensionnement de l'infrastructure}
Le tableau ci-dessous détaille les machines virtuelles nécessaires au
déploiement, réparties entre la zone publique (DMZ) et la zone privée
(LAN).

{\small
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{|p{2.6cm}|p{1cm}|p{3.4cm}|p{0.9cm}|p{1.3cm}|p{1.4cm}|p{1.4cm}|p{1.4cm}|p{2cm}|p{2cm}|}
\hline
\rowcolor{primary}
\tblhead{Nœud} & \tblhead{Zone} & \tblhead{Composants} & \tblhead{vCPU} & \tblhead{RAM (Go)} & \tblhead{OS (Go)} & \tblhead{Appli (Go)} & \tblhead{Store (Go)} & \tblhead{Secondaire (\VAR{ besoins.secondaire_label }, Go)} & \tblhead{Backup (\BLOCK{ if besoins.backup_sur_s3 }S3, \BLOCK{ endif }Go)} \\
\hline
\endhead
\BLOCK{ for n in nodes }
\VAR{ n.id } & \VAR{ n.zone } & \VAR{ n.components_display } & \VAR{ n.sizing.vcpu } & \VAR{ n.sizing.ram_gb } & \VAR{ n.sizing.disk_os_gb } & \VAR{ n.sizing.disk_appli_gb } & \BLOCK{ if n.sizing.disk_store_gb }\VAR{ n.sizing.disk_store_gb }\BLOCK{ else }---\BLOCK{ endif } & \BLOCK{ if n.sizing.disk_secondaire_gb }\VAR{ n.sizing.disk_secondaire_gb }\BLOCK{ else }---\BLOCK{ endif } & \BLOCK{ if n.sizing.disk_backup_gb }\VAR{ n.sizing.disk_backup_gb }\BLOCK{ else }---\BLOCK{ endif } \\
\hline
\BLOCK{ endfor }
\rowcolor{lightbg}
\textbf{Total (\VAR{ nodes|length } nœuds)} & & & \textbf{\VAR{ totals.vcpu }} & \textbf{\VAR{ totals.ram_gb }} & \textbf{\VAR{ totals.disk_os_gb }} & \textbf{\VAR{ totals.disk_appli_gb }} & \textbf{\VAR{ totals.disk_store_gb }} & \textbf{\BLOCK{ if totals.disk_secondaire_gb }\VAR{ totals.disk_secondaire_gb }\BLOCK{ else }---\BLOCK{ endif }} & \textbf{\BLOCK{ if totals.disk_backup_gb }\VAR{ totals.disk_backup_gb }\BLOCK{ else }---\BLOCK{ endif }} \\
\hline
\end{longtable}
}
\end{landscape}
