{\small
\renewcommand{\arraystretch}{1.3}
\begin{longtable}{|p{2.6cm}|p{2.8cm}|p{5cm}|p{2.5cm}|}
\hline
\rowcolor{primary}\tblhead{Nom} & \tblhead{Rôle} & \tblhead{E-mail} & \tblhead{Téléphone} \\
\hline
\endhead
\BLOCK{ for contact in zextras_contacts }
\VAR{ contact.nom } & \VAR{ contact.role } & \VAR{ contact.email } & \VAR{ contact.telephone } \\
\hline
\BLOCK{ endfor }
\end{longtable}
}
